aiohttp==3.11.14
astroid==3.3.9
bokeh==3.7.3
deprecation==2.1.0
descartes==1.1.0
dill==0.4.0
distributed==2025.5.1
geopandas==1.1.0
ipykernel==6.29.5
isort==6.0.1
lightning==2.5.1
lz4==4.4.4
mccabe==0.7.0
optuna==4.2.1
partd==1.4.2
pip==25.1.1
prettytable==3.16.0
pyarrow==20.0.0
pycodestyle==2.13.0
pyflakes==3.3.2
PyKrige==1.7.2
pylibtiff==0.6.1
rtree==1.4.0
scikit-image==0.25.2
scikit-learn==1.6.1
seaborn==0.13.2
timm==1.0.15
tomlkit==0.13.2
